body {
    font-family: Helvetica Neue, Arial, sans-serif;
    background-color: #EEEEEE;
    color: #000000;
}

p {
    line-height: 1.5;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.centered-insta {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.centered-video {
    margin: auto;
    width: 53%;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 80%;
    background-color: #FFFFFF;
    min-width: 960px;
    max-width: 2048px;
}

footer {
    margin-top: 50px;
}

#logo {
    font-weight: 900;
    font-size: 2em;
}

#logo-current {
    font-weight: 900;
    background-color: white;
    color: black;
    font-size: 2em;
}

#digital-media-current {
    background-color: white;
    color: black;
}

#about-current {
    background-color: white;
    color: black;
}

#video-current {
    background-color: white;
    color: black;
}

#graphic-current {
    background-color: white;
    color: black;
}

#ui-current {
    background-color: white;
    color: black;
}

#others-current {
    background-color: white;
    color: black;
}

#latest-projects-text {
    font-weight: 300;
    letter-spacing: 10px;
    text-align: center;
}

.product-intro {
    margin: 30px;
}

#product-title {
    font-size: 4em;
}

#fixed-menu-bar {
    padding-top: 128px;
}

header {
    margin: -10px;
}

nav {
    font-weight: bold;
    float: none;
    width: 100%;
    padding: 0.5em;
    background-color: black;
    display: block;
    position: fixed;
}

nav a {
    text-decoration: none;
}

nav li {
    display: inline-block;
    max-width: 15%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    text-align: left;
    vertical-align: middle;
}

nav a:link {
    color: #FFFFFF;
}

nav a:visited {
    color: #FFFFFF;
}

nav a:hover {
    background-color: #FFFFFF;
    color: #000000;
}

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    background-color: #000000;
    color: #FFFFFF;
    text-decoration: none;
}

#onehero {
    float: left;
    width: 47%;
    height: 400px;
    background-image: url(marineworld.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: solid 10px black;
}

#twohero {
    float: right;
    width: 47%;
    height: 400px;
    background-image: url(08122014.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: solid 10px black;
}

#digital-media-onehero {
    float: left;
    width: 40%;
    height: 350px;
    background-image: url(marineworld.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: solid 10px black;
}

#mehero {
    float: left;
    width: 320px;
    height: 320px;
    background-image: url(JunshuLiuPortrait.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: solid 10px black;
}

#ui-hero {
    float: left;
    width: 40%;
    height: 235px;
    background-image: url(SoDA2018background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: solid 10px black;
}

#soda-site {
    float: left;
    width: 40%;
    height: 740px;
    background-image: url(soda-2017.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#graphic-hero {
    float: left;
    width: 40%;
    height: 280px;
    background-image: url(SWHacksLOGO.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: solid 10px black;
}

#video-hero {
    float: left;
    width: 40%;
    height: 280px;
    background-image: url(08122014.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: solid 10px black;
}

#tiny-hero {
    float: left;
    width: 40%;
    height: 280px;
    background-image: url(rulerclock.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: solid 10px black;
}